###
# Unity folders and files
###
unity/[Aa]ssets/AssetStoreTools*
unity/[Bb]uild/
unity/[Ll]ibrary/
unity/[Ll]ocal[Cc]ache/
unity/[Oo]bj/
unity/[Tt]emp/
unity/[Uu]nityGenerated/
# file on crash reports
unity/sysinfo.txt
# Unity3D generated meta files
unity/*.pidb.meta

###
# VS/MD solution and project files
###
#[Ee]xportedObj/
#*.booproj
#*.csproj
#*.sln
#*.suo
#*.svd
#*.unityproj
#*.user
#*.userprefs
#*.pidb
#.DS_Store

###
# OS generated
###
unity/.DS_Store
unity/.DS_Store?
unity/._*
unity/.Spotlight-V100
unity/.Trashes
unity/Icon?
unity/ehthumbs.db
unity/Thumbs.db

# JetBrains Rider
.idea/
*.sln.iml

unity/Assets/FMODStudioCache.asset
unity/Assets/StreamingAssets/*.bank
*.log